body,
div,
a,
p,
span,
input,
i,
ul,
li,
img,
header,
nav,
main,
footer
{
    /* 设置为怪异盒模型 */
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
html,body,ul,li,p{
    padding: 0;
    margin: 0;
}
ul{
   list-style: none;
}
a{
    text-decoration: none;
    color: #101010;
}
body{
    font: 12px/1.5 Microsoft YaHei;
    color: #101010;
}
input{
    outline: none;
    border: 0;
}
.clearfix::after{
    display: block;
    content: '';
    clear: both;
}
i{
    font-style: normal;
}
input,
textarea,
button,
a {
  /* 表单或者a标签在手机点击时会出现边框或彩色的背景区域，意思是去除点击背景框 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}